body{
    padding: 0;
    margin: 0;
    font-family: Helvetica;

}

.game-container {
    /* margin-top: 98.5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-wrapper{
    display: flex;
    font-family: Helvetica;
}

#score{
    padding-left: 10px;
    color: red;
}

.board {
    display: block;
    width: 500px;
    height: 500px;
    border: black solid;
}

.snake{
    position: relative;
    border: lightskyblue solid;
    background-color: lightskyblue;
    width: 60px;
    height: 10px;
    left: 0px;
}


#lost-display{
    position: absolute;
    top: 45vh;
    left: 33.5vw;
    color: red;
    border-radius: 10px;
    padding: 20px;
    background-color: aliceblue;
    display: none;
}